<form method="post" action="{{ path('enterprise_delete', {'id': enterprise.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir continuer??');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ enterprise.id) }}">
    <button class="btn"><i class="fa fa-trash"></i></button>
</form>
