{% extends 'base.html.twig' %}

{% block title %}Edition de l'enterprise{% endblock %}

{% block body %}

    <h1 class=" jumbotron p-3">{{ enterprise.name }}</h1>

    {{ include('enterprise/_form.html.twig', {'button_label': 'Ajouter'}) }}


    <a class="btn btn-secondary mt-2" href="{{ path('enterprise_index') }}">Retour</a>

{% endblock %}
