{% extends 'base.html.twig' %}

{% block title %}Nouvelle Entreprise{% endblock %}

{% block body %}
    <h1>Ajouter une Entreprise</h1>

    {{ include('enterprise/_form.html.twig', {'button_label': 'Ajouter'}) }}


    <a class="btn btn-secondary mt-2" href="{{ path('enterprise_index') }}">Retour</a>

{% endblock %}
