{% extends 'base.html.twig' %}

{% block title %}Ajouter un Contact{% endblock %}

{% block body %}
    <h1>Ajouter un Contact</h1>

    {{ include('contact/_form.html.twig', {'button_label': 'Ajouter'}) }}

    <a class="btn btn-secondary mt-2" href="{{ path('contact_index') }}">Retour</a>




{% endblock %}
